useDynLib(changepoint.online)

import(methods)
import(zoo)
import(changepoint)
import(ecp)
import(Rcpp)

importFrom(stats, is.ts, ts, var, dist)
importFrom(graphics, abline, lines, segments)
importFrom(utils, data, tail)

exportPattern("^[^\\.]")